<mat-card class="card-feedback w-100">
  <mat-card-header>
    <div mat-card-avatar [ngStyle]="{'background-image': 'url(assets/cara.png)', 'background-size': 'cover'}">

    </div>
    <mat-card-title>{{feedback.name}}</mat-card-title>
    <mat-card-subtitle>{{feedback.position}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <p>{{feedback.comments}}</p>
    <hr>

    <div class="d-flex flex-column">
      <div class="d-flex flex-row justify-content-between align-items-center" *ngFor="let score of feedback.score">
        <p><strong>{{score.description}}</strong></p>
        <app-star-rating [rating]="score.score" ></app-star-rating>
      </div>
     
    </div>


  </mat-card-content>

</mat-card>
