<div class="position-relative d-flex justify-content-center align-items-center w-100 h-100">
  <div class="login">
    <div class="login-content p-5 d-flex flex-column justify-content-center align-items-center w-100 h-100">
      <img src="assets/logos/Zinobe.svg" alt="" srcset="" class="mb-4">
      <mat-form-field class="w-100 my-3 my-form-field">
        <input matInput placeholder="Usuario" value="">
      </mat-form-field>
      <mat-form-field class="w-100 my-3 my-form-field">
        <input matInput placeholder="Contraseña" type="password" value="">
      </mat-form-field>

      <button class="btn btn-lg mb-3 mt-4" routerLink="/mi-espacio/perfil">INICIAR SESIÓN</button>
      <a href="#">Olvidé mi contraseña</a>
    </div>
  </div>
</div>
