:host {
  position: absolute;
  width: 100%;
  display: block;
  background-image: url('/assets/background-login.png');
  height: 100%;
}

.login {
  background-color: #1C242C;
  width: 100%;
  max-width: 551px;
  height: 652px;
  border-radius: 40px;

  &-content {
    border-radius: 200px;
    background-color: black;
  }
}

.btn {
  background-color: #00D964;
  padding: 15px;
  width: 80%;
  font-weight: 100;
  border-radius: 50px;
}

a {
  color: white !important;
  text-decoration: underline;
}

