<mat-tab-group dynamicHeight>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="mr-2">emoji_events</mat-icon>
      Reconocimientos
    </ng-template>

    <app-appreciation></app-appreciation>
  </mat-tab>
  <mat-tab label="Feedback">
    <div class="example-small-box mat-elevation-z4">

    </div>
  </mat-tab>

  <mat-tab label="Plan carrera">
    <div class="example-small-box mat-elevation-z4">

    </div>
  </mat-tab>
  <mat-tab label="Feedback">
    <div class="example-small-box mat-elevation-z4">

    </div>
  </mat-tab>

</mat-tab-group>
