@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: #fafafa;
}

.bg-green{
    background-color: #00D964 !important;
    color: #1C242C !important;
}

.text-green{
    color: #00D964 !important; 
}

/** Overrides underline color **/
.my-form-field.mat-form-field-appearance-legacy .mat-form-field-underline,
.my-form-field.mat-form-field-appearance-legacy .mat-form-field-ripple,
.my-form-field.mat-form-field-appearance-legacy.mat-focused
	.mat-form-field-underline,
.my-form-field.mat-form-field-appearance-legacy.mat-focused
	.mat-form-field-ripple {
	background-color: rgba($color: #fafafa, $alpha: .8);
}

/** Overrides label color **/
.my-form-field.mat-form-field-appearance-legacy .mat-form-field-label,
.my-form-field.mat-form-field-appearance-legacy.mat-focused
	.mat-form-field-label {
	color: white;
}

/** Overrides caret & text color **/
.my-form-field.mat-form-field-appearance-legacy .mat-input-element {
	caret-color: white;
  color: white;
}